body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}

html,
body {
  background: #f6f8fa;
  color: #24292e;
}

.capsule {
  border-radius: 6px;
  padding: 20px;
  background: #f6f8fa;
  color: #24292e;
}

.copy {
  text-align: center;
}

h2 {
  border-bottom: 1px solid #24292e;
  padding-bottom: 10px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

pre code {
  display: block;
  background: #f6f8fa;
  color: #24292e;
  white-space: pre;
  overflow-x: auto;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #24292e;
}

.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toggle-container svg {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.toggle-label {
  fill: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  background: #333;
  border-radius: 12px;
  cursor: pointer;
}

.toggle-label:after {
  fill: rgb(0, 0, 0);
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}

.toggle-input:checked + .toggle-label {
  fill: rgb(0, 0, 0);
  background: #0077ff;
}

.toggle-input:checked + .toggle-label:after {
  fill: rgb(255, 255, 255);
  transform: translateX(24px);
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
}

.collapsible {
  background-color: #58a6ff;
  color: white;
}

.active,
.collapsible:hover {
  background-color: #0366d6;
}

.content {
  background: #bbb;
  color: #24292e;
}

@media (prefers-color-scheme: light) {
  html[data-theme="system"] {
    background: #f6f8fa;
    color: #24292e;
  }
  body[data-theme="system"] {
    background: #f6f8fa;
    color: #24292e;
  }
  .capsule[data-theme="system"] {
    background: #f6f8fa;
    color: #24292e;
  }
  iframe[data-theme="system"] {
    background: #f6f8fa;
    color: #24292e;
  }
}

html[data-theme="light"] {
  background: #f6f8fa;
  color: #24292e;
}
body[data-theme="light"] {
  background: #f6f8fa;
  color: #24292e;
}
.capsule[data-theme="light"] {
  background: #f6f8fa;
  color: #24292e;
}
iframe[data-theme="light"] {
  background: #f6f8fa;
  color: #24292e;
}

html[data-theme="light"] .toggle-input:checked + .toggle-label:after {
  color: #000000;
}